$base-font-size: 16px;
$default-font-family: 'Montserrat', sans-serif;
$mv-colors: ( 
    mv-white:#fff,
    mv-black: #000000,
    mv-light-blue: #00adef,
    mv-dark-blue: #01011b,
    mv-blue-50p: #00597b,
    mv-blue-70p: #300167,
    mv-transparent: transparent,
    mv-light-purple: #a541e1,
    mv-dark-purple: #320268,
    mv-light-green: #45e9d0,
    mv-dark-green: #015b51,
    mv-black-50p: rgba(0, 0, 0, .5),
);
$header-sm-size: 70px;
$header-lg-size: 100px;
$screen-height: 100vh;
$default-transition: all 0.5s linear;
$default-border: 3px solid;

$font-weights:(
    light: 300,
    normal: 500,
    bold-light: 600,
    bold: 700,
);

$widths: (
    full: 100%,
    half: 50%,
);

$breakpoints: (
    sm: 762px,
    md: 992px,
    lg: 1200px,
);