@import 'mixins';
/* MOVIES WALL */

.single-movie-block{
    position: relative;
    margin-bottom: 45px;
    margin-top: 25px;
    .single-movie-poster{
        @include default-size;
        @include default-img;
        padding-bottom: 150%;
    }
    h4{
        color: map-get($mv-colors, mv-white ) !important;
    }
}
/* END MOVIES WALL */

/* Single movie page */

#movie-data-container {
    @include default-size;
    height: auto;
    #video-container {
        @include default-size;
        display: block;
        height: 100%;
        overflow: hidden;
        #video-overlay {
            @include default-img;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 2;
        }
        #video-play {
            position: absolute;
            display: block;
            top: 50px;
            left: 50px;
            z-index: 4;
            cursor: pointer;
            .video-play-element {
                position: relative;
                display: inline-block;
            }
            #play-icon {
                @include default-img;
                width: 100px;
                height: 100px;
            }
            #play-label-container {
                height: 100px;
                font-size: 2.5rem;
                text-transform: uppercase;
                color: map-get($mv-colors, mv-light-blue );
                letter-spacing: 2px;
                font-weight: map-get($font-weights, bold );
                margin-left: 15px;
                line-height: 1;
            }
        }
    }
}

#video-container video {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#movie-data {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.movie-info {
    margin-top:0;
    text-align: center;
}

#movie-data h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #00adef;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 700;
}

#movie-data h3 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

#movie-data h5 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.25;
}

/* END Single movie page */

/*BREAKPOINTS*/


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 576px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #movie-data-container {
        height: calc( 100vh - 10px );
    }

    #movie-data {
        position: absolute;
    }
    
    .single-movie-block {
        margin-top: 0;
    }

    .movie-info {
        text-align: left;
    }

}